* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#page-header {
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
}

#logo img {
    width: 42px;
    height: 45px;
    padding-top: 3px;
}

#logo-text {
    height: 42px;
    margin-left: 10px;
}

#logo h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    line-height: 36px;
}

#logo h4 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: rgb(59, 59, 59);
}

#header-links {
    display: flex;
}

#social img, #non-social img {
    margin: 0 -1px;
}

#social img:nth-child(5) {
    margin: 0 -2px;
}

#non-social {
    margin-left: 12px;
}

.striped-divider {
    width: 100%;
    height: 12px;
    background-image: repeating-linear-gradient(45deg,white,white 2px,rgb(59, 59, 59) 1px,rgb(59, 59, 59) 3px);
    background-size: 4px 34px;
}

}

#article-header {
    box-sizing: border-box;
}

#article-header {
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}

#article-header h2 {
    font-size: 2.6em;
}

#article-header div {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: lighter;
}

button {
    display: flex;
    border-color: white;
    align-items: center;
}

button p {
    padding: 3px;
    color: grey;
    text-transform: uppercase; 
    font-size: 0.9em;          
}

