* {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 900px;
    min-width: 850px;
    margin: 0 auto;
}

#page-header {
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
}

#logo img {
    width: 42px;
    height: 45px;
    padding-top: 3px;
}

#logo-text {
    height: 42px;
    margin-left: 10px;
}

#logo h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    line-height: 36px;
    margin-left: -4px;
}

#logo h4 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: rgb(59, 59, 59);
}

#header-links {
    display: flex;
}

#social img, #non-social img {
    margin: 0 -1px;
}

#social img:nth-child(5) {
    margin: 0 -2px;
}

#non-social {
    margin-left: 12px;
    margin-right: 2px;
}

.striped-divider {
    width: 100%;
    height: 12px;
    background-image: repeating-linear-gradient(45deg,white,white 2px,rgb(130, 130, 130) 1px,rgb(130, 130, 130) 3px);
    background-size: 4px 34px;
}

#recipe p {
    color: rgb(130, 130, 130);
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-indent: 2em;
}

#recipe img {
    max-width: 100%;
    margin-bottom: 20px;
}

#recipe-card {
    background-image: url("assets/list-bg.png");
    padding: 36px 36px 80px 36px;
    box-sizing: border-box;
    max-height: 302px;
    margin-bottom: 40px;
}

 #recipe-card label {
    font-family: 'Patrick Hand', cursive;
    color: rgb(119, 110, 67);
    font-size: 24px;
    line-height: 31px;
    position: relative;
    display: block;
    padding-left: 22px;
}

form {
    display: flex;
}

#recipe-card input {
    position: absolute;
    top: 12px;
    left: 0;
    opacity: 0;
}

.checkbox {
    position: absolute;
    top: 12px;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: solid 1px rgb(175, 171, 146);
    border-radius: 3px;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  label input:checked ~ .checkbox:after {
    display: block;
  }
  
  label .checkbox:after {
    left: 4px;
    top: -3px;
    width: 4px;
    height: 8px;
    border: solid rgb(175, 171, 146);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

form section:first-child {
    padding-left: 25px;
}

form section:nth-child(2) {
    padding-left: 180px;
    max-width: 404px;
}

#article-header {
    box-sizing: border-box;
}

#article-header {
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    padding-bottom: 25px;
}

#article-header h2 {
    font-size: 2.6em;
}

#article-header div {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: lighter;
}

button {
    display: flex;
    border-color: white;
    align-items: center;
}

button p {
    padding: 3px;
    color: grey;
    text-transform: uppercase; 
    font-size: 0.9em;          
}
